<main class="max-w-3xl mx-auto px-4 py-12 md:py-12 space-y-8">
    <section id="about" class="text-gray-700">
        <p>
            My name is Maciej Koziara and I am software developer with experience in both backend (<span
                class="font-semibold">Ruby</span>, <span
                class="font-semibold">Java</span>, <span class="font-semibold">NodeJS</span>)
            and frontend (<span class="font-semibold">TypeScript</span>, <span class="font-semibold">React</span>)
            technologies.
        </p>
        <p>
            Throughout my career, I have worked for both: big product companies and small outsourcing agencies. This
            diverse experience has taught me to be pragmatic, make quick decisions, and embrace innovative approaches,
            while also how to deliver code safely in large codebases through collaboration across multiple teams.
        </p>
    </section>

    <section id="experience">
        <h2 class="text-2xl font-semibold">Experience</h2>
        <ul class="text-gray-700 mt-3 space-y-3">
            <li class="text-md font-light">
                <p class="text-gray-600 text-sm">04.2022 - now</p>
                <p class="text-md font-light">
                    <a class="underline font-medium" href="https://playboy.com/app" target="_blank" rel="nofollow">Full
                        Stack Developer, Playboy</a> -
                    creator platform rewrite, digital magazine archive
                </p>
            </li>
            <li class="text-md font-light">
                <p class="text-gray-600 text-sm">03.2021 - 03.2022</p>
                <p class="text-md font-light">
                    <a class="underline font-medium" href="https://infoshareacademy.com/" target="_blank"
                       rel="nofollow">Trainer, Infoshare Academy</a> -
                    spent over 500 hours in the classroom teaching about Java, Spring Boot and coding good practices
                    both
                    students and experienced developers
                </p>
            </li>
            <li class="text-md font-light">
                <p class="text-gray-600 text-sm">03.2021 - 03.2022</p>
                <p class="text-md font-light">
                    <a class="underline font-medium" href="https://dac.digital/" target="_blank" rel="nofollow">Full
                        Stack Developer, DAC Digital</a> -
                    service for upgrading TV Set Boxes for big TV provider, mobile companion app for an anti-smog mask
                    using
                    BLE protocol for communication
                </p>
            </li>
            <li class="text-md font-light">
                <p class="text-gray-600 text-sm">03.2019 - 03.2021</p>
                <p class="text-md font-light">
                    <a class="underline font-medium" href="https://airhelp.com" target="_blank" rel="nofollow">Full
                        Stack Developer, AirHelp</a> -
                    introduced support
                    for multiple regulations, migrated large codebase from EmberJS to React
                </p>
            </li>
            <li class="text-md font-light">
                <p class="text-gray-600 text-sm">01.2017 - 01.2019</p>
                <p class="text-md font-light">
                    <span class="font-medium">Java Software Developer, Goyello</span>
                </p>
            </li>
            <li class="text-md font-light">
                <p class="text-gray-600 text-sm">11.2014 - 01.2017</p>
                <p class="text-md font-light">
                    <span class="font-medium">Java Software Developer, Young Digital Planet</span>
                </p>
            </li>
        </ul>
    </section>

    <section>
        <h2 class="text-2xl font-semibold">Projects</h2>
        <ul class="text-gray-700 space-y-3 mt-3">
            <li class="text-md font-light">
                <a class="underline font-medium" href="https://www.playboy.com/app/" target="_blank" rel="nofollow">Playboy
                    Club</a> - creator
                platform for Playboy
            </li>
            <li class="text-md font-light">
                <a class="underline font-medium" href="https://www.playboy.com/magazine/" target="_blank"
                   rel="nofollow">Playboy Magazine</a> -
                digital magazine
                archive available for Club Members
            </li>
            <li class="text-md font-light">
                <a class="underline font-medium" href="https://bunancer.fly.dev/" target="_blank" rel="nofollow">Bunancer</a>
                - naive load balancer
                written in Bun
            </li>
            <li class="text-md font-light">
                <a class="underline font-medium" href="https://ising.pl/sklep/ising-pro/" target="_blank"
                   rel="nofollow">iSing Pro</a> - desktop
                application for DJs organizing karaoke events
            </li>
            <li class="text-md font-light">
                <a class="underline font-medium" href="https://www.lano.io/" target="_blank" rel="nofollow">Lano Home
                    Page</a> - home page connecting
                NextJS and Storyblok headless CMS
            </li>
        </ul>
    </section>

    <section>
        <h2 class="text-2xl font-semibold">Conference Speaker</h2>
        <ul class="text-gray-700 space-y-3 mt-3">
            <li class="text-md font-light"><span class="font-medium">JUG Gdańsk</span> - JUNIT 5 - is it worth it?</li>
            <li class="text-md font-light"><span class="font-medium">Career IT</span> - Kotlin in your Java Project</li>
            <li class="text-md font-light"><span class="font-medium">ByteBay</span> - Junit5 - Deep Dive</li>
        </ul>
    </section>

    <section>
        <h2 class="text-2xl font-semibold">Education</h2>
        <div class="mt-3">
            <p class="text-gray-600 text-sm">2011 - 2015</p>
            <p class="text-gray-700 text-md font-light">
                <a class="underline font-medium" href="https://www.lano.io/" target="_blank" rel="nofollow">Gdańsk
                    University of Technology</a>,
                Faculty of
                Electronics,
                Telecommunications, and Informatics - Engineer of Automation and Robotics, Specialization - Decision
                systems
            </p>
        </div>
    </section>
</main>